.classe1 {
    margin-left: 300px;
    color: rgb(4, 22, 102);
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.classe2 {
    margin-left: 300px;
    color: rgb(250, 121, 0);
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}